body[data-theme="dark"] {  

   @import '../src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #272323;
   }
   .styles_typicalWrapper__1_Uvh {
      color: white;
  }
   .title-styles {
      color: white;
   }

   .header-icon {
      color: #f5f3f1;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color:black;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #918e97;
      color: white;
   }

   header {
      background-image: url("https://images.unsplash.com/photo-1572666341285-c8cb9790ca50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
	background-repeat: no-repeat;
	  background-position: center;
	  background-attachment: fixed;
	  background-size: cover;
	  height: 100vh;
	  width: 100vw;
      h1 {
         color: white;
      }
   }

   #about {
      background-color: rgb(231, 26, 64);
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #6d6d6d;
      }
      .card {
         background: #6d6d6d;
         color: white;
      }
      .about-back{
         background: rgb(231, 26, 64);
      }
   }

   #skills{
      background-image: url("https://images.unsplash.com/photo-1572666341285-c8cb9790ca50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
	background-repeat: no-repeat;
	  background-position: center;
	  background-attachment: fixed;
	  background-size: cover;
	  height: 100vh;
	  width: 100vw;
     .skill-sec{
      color: white;
     }
   } 

   #portfolio {
      background: #000000;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #2c2c2c;
         box-shadow: 5px 5px rgb(231, 26, 64);
      }
      .project-title-settings {
         color: white;
      }
      h5{
         color: white
      }
   }

   #resume {
      filter: brightness(80%);
      background: rgb(0, 0, 0);
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background:  rgb(231, 26, 64) !important;
         color: rgb(255, 255, 255);
      }

      .main-badge {
         background: #919191 !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }
      .exp-section{
         color: white;
      }
      .exp-date{
         color: black;
      }
      .vertical-timeline-element-icon {
         background: rgb(231, 26, 64) !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #5b5b5b;
      color: white;
   }

   .close-icon {
      color: white;
   }
}